__pycache__
.vscode
.cursor
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
PKG-INFO
*.egg-info/
docs/superpowers/
train_logs/*
tensorboard/*
checkpoints/*
/results/
output
tests
node_modules
